<app-nav-portal></app-nav-portal>
<div [ngClass]="person" class="h2">Welcome to RJ Mobile {{person.FirstName}} {{person.LastName}}</div>
<div id="cover" class="h-100">
    <div [ngClass]="person" class="col-md-6 offset-md-3 m-5">
        <div class="card m-3">
            <h4 class="card-header">User Information</h4>
                <div class="card-body bg-gradient-light">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Name:  {{person.FirstName}} {{person.LastName}}</li>
                        <li class="list-group-item">Account Id:  {{person.account.accountId}}</li>
                        <li class="list-group-item">Email:  {{person.Email}}</li>
                        <p class="pt-3"><a [routerLink]="'/app-register'" class="btn">Update Information</a></p>
                    </ul>
                    <hr>
                    <div class="btn-group mr-3" >
                        <button type="button" class="btn btn-primary">View Your Plans</button>
                        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                          <button class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle></button>
                          <div></div>
                          <div class="dropdown-menu" (click)="selectChangeHandler($event)" ngbDropdownMenu >
                            <button ngbDropdownItem *ngFor="let plan of plans; let i = index" value="{{i}}">Plan Id: {{plan.planId}}- {{plan.planName}}</button>
                          </div>
                        </div>
                      </div>
                    <div class="btn-group mr-3">
                        <button type="button" class="btn btn-primary">Add New Plan</button>
                        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                          <button class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle></button>
                          <div></div>
                          <div class="dropdown-menu" (click)="selectChangeHandler($event)" ngbDropdownMenu>
                            <button ngbDropdownItem *ngFor="let plans of allPlans; let i = index"  value="{{i}}">Plan Id: {{plans.planId}}- {{plans.planName}}</button>
                          </div>
                        </div>
                      </div>
                </div>
        </div>
        <div class="card m-5">
          <h4 class="card-header" [ngClass]="plan">Plan Information</h4>
              <div class="card-body bg-gradient-light">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Plan Id:  {{plan.planId}}</li>
                    <li class="list-group-item">Description:  {{plan.planName}}</li>
                      <li class="list-group-item">Device Limit:  {{plan.deviceLimit}}</li>
                      <li class="list-group-item">Unlimited:  {{plan.isUnlimited}}</li>
                      <li class="list-group-item">Monthly Cost:  ${{plan.price}}</li>
                  </ul>
              </div>
      </div>
      <div class="card m-5">
        <h4 class="card-header">Devices</h4>
            <div class="card-body bg-gradient-light">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Name:  {{person.FirstName}} {{person.LastName}}</li>
                    <li class="list-group-item">Account Id:  {{person.account.accountId}}</li>
                    <li class="list-group-item">Email:  {{person.Email}}</li>
                </ul>
            </div>
    </div>
    </div>
</div>

