<app-nav-portal></app-nav-portal>
<div [ngClass]="person" class="h2">Welcome to RJ Mobile {{person.FirstName}} {{person.LastName}}</div>
<div id="cover" class="h-100">
    <div [ngClass]="person" class="col-md-6 offset-md-3 m-5">
        <div class="card m-3">
            <h4 class="card-header">User Information</h4>
                <div class="card-body bg-gradient-light">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Name:  {{person.FirstName}} {{person.LastName}}</li>
                        <li class="list-group-item">Account Id:  {{person.account.accountId}}</li>
                        <li class="list-group-item">Email:  {{person.Email}}</li>
                        <p class="pt-3"><a [routerLink]="'/app-register'" class="btn">Update Information</a></p>
                    </ul>
                    <hr>
                    <div class="btn-group mr-3" >
                        <button type="button" class="btn btn-primary">View Your Plans</button>
                        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                          <button class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle></button>
                          <div></div>
                          <div class="dropdown-menu" (click)="selectChangeHandler($event)" ngbDropdownMenu >
                            <button ngbDropdownItem *ngFor="let plan of plans; let i = index" value="{{i}}">Plan Id: {{plan.planId}}- {{plan.planName}}</button>
                          </div>
                        </div>
                      </div>
                    <div class="btn-group mr-3">
                        <button type="button" class="btn btn-primary">Add New Plan</button>
                        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                          <button class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle></button>
                          <div></div>
                          <div class="dropdown-menu" (click)="selectChangeHandler($event)" ngbDropdownMenu>
                            <button ngbDropdownItem *ngFor="let plans of allPlans; let i = index"  value="{{i}}">Plan Id: {{plans.planId}}- {{plans.planName}}</button>
                          </div>
                        </div>
                      </div>
                </div>
        </div>
        <div class="card m-5">
          <h4 class="card-header" [ngClass]="plan">Plan Information</h4>
              <div class="card-body bg-gradient-light">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Plan Id:  {{plan.planId}}</li>
                    <li class="list-group-item">Description:  {{plan.planName}}</li>
                      <li class="list-group-item">Device Limit:  {{plan.deviceLimit}}</li>
                      <li class="list-group-item">Unlimited:  {{plan.isUnlimited}}</li>
                      <li class="list-group-item">Monthly Cost:  ${{plan.price}}
                          
                        <ul>
                            <li>Service Charge: ${{.25*plan.price}}</li>
                            <li>Device Cost: ${{(.65*plan.price)/plan.deviceLimit}}/device</li>
                            <li>Taxes: ${{.15*plan.price}}</li>
                          </ul>
                      </li>
                  </ul>
              </div>
      </div>
      <div class="card m-5">
        <h4 class="card-header">Devices</h4>
        <div class="content">
          <div fxLayout="row wrap" fxLayoutGap="4px grid">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let device of devices">
          <mat-card class="mat-elevation-z4 border rounded-top border-primary">
              <mat-card-header>
                  <mat-card-title class="h3">Device: {{device.deviceName}}</mat-card-title>
              </mat-card-header>
               <img mat-card-image src="/assets/signUp.jpg" class="card-img-top" alt="plan1"/>
              <mat-card-content>
                  <p class="card-text">{{device.deviceId}}</p>
              </mat-card-content>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item">Camera: {{device.camera}}</li>
                  <li class="list-group-item">Storage: {{device.storage}}</li>
                  <li class="list-group-item">Device Display: {{device.deviceDis}}</li>
              </ul>
              
          </mat-card>
    </div>
    </div>
</div>

