<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let plan of plans">
        <mat-card class="mat-elevation-z4 border rounded-top border-primary">
            <mat-card-header>
                <mat-card-title class="h3">Plan: {{plan.planId}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="/assets/signUp.jpg" class="card-img-top" alt="plan1"/>
            <mat-card-content>
                <p class="card-text">{{plan.planName}}</p>
            </mat-card-content>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Device Limit: {{plan.deviceLimit}}</li>
                <li class="list-group-item">Unlimited: {{plan.isUnlimited}}</li>
                <li class="list-group-item">Monthly Price: {{plan.price}}</li>
            </ul>
            <mat-card-actions>
                <button type="button" mat-button [routerLink]="[]">View Plan</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>  
</div>